# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
backend/sample_files/
backend/note

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# OS
.DS_Store
Thumbs.db